
nav img {
    width:auto;
    height:auto;
    margin:auto;
}

nav a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}

#login-button{
    color: blue;
    font-family: sans-serif;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 7px;
    background-color: white;
    padding: 2px 13px;
}

#signup-button{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 7px;
    background-color: blue;
    padding: 2px 13px;
}

#header-h1{
    font-family: sans-serif;
    font-size: 60px;
}

#header-h2{
    font-family: sans-serif;
    font-size: 35px;
}

.header-p{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: grey;
}

#signup-button-2{
    color: white;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: blue;
    padding: 10px 13px;
}

#chat-button{
    color: blue;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    padding: 10px 13px;
}

#sign-in-button{
    text-decoration: none;
    color: grey;
}


header img {
    width:100%;
    height:auto;
    margin:auto;
}

.bullet-pt {
    color:#0850F8;
    border:2px solid #0850F8;
    background-color:#0850f8;
    border-radius:100%;
    font-size:3px;
    margin: 10px;
}

.text h3{
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    margin:0 25% 0 25%;
}

#collect-useful-info{

}

#collect-useful-info img{
    border: 1px solid gray;
    padding: 15%;
    border-radius: 5% 0 0 5%;
    height: 100%;
    width: auto;
}

.collect-text{
    font-family: sans-serif;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: 1px solid gray;
    border-radius: 0 5% 5% 0;
    padding: 30% 10% 30% 10%;
    margin-right: 5%;
    height: 100%;
}



.paid img {
    border:1px gray solid;
    padding:11.75% 20% 11% 15%;
    border-radius:5% 0 0 5%;
    width:auto;
    height:100%;
    margin:auto;
}




